/* Start Variabels */
:root {
    --main-color: #10cab7;
    --second-color: #2c4755;
    --line-height: 1.8;
    --font-weight: 800;
    --main-duration: 0.3s;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --top-spacing: 100px;
    --paragraph-color: #777;
}

/* End Variabels */

/* Start Global Values */
* {
    box-sizing: border-box;
    --moz-box-sizing: border-box;
    --webkit-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* Small Screen */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screen */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* End Global Values */

/* Start Components */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.special-header {
    font-size: 100px;
    color: var(--section-background);
    margin: 0;
    text-align: center;
    font-weight: var(--font-weight);
    letter-spacing: -3px;
}

@media (max-width: 991px) {
    .special-header {
        font-size: 80px;
    }
}

.special-header+p {
    font-size: 20px;
    margin: -30px 0;
    color: #797979;
    text-align: center;
}

/* End Components */

/* Start Header  */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;

}

.header .logo img {
    width: 60px;
    perspective: 100px;
    transform-style: preserve-3d;
    transition: 1s;


}

.header .logo:hover img {
    width: 100%;
    height: 100%;
    transform: rotateY(360deg);
}

.header .links {
    position: relative;
}

.header .links span {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    justify-content: flex-end;
}

.header .links ul:hover {
    display: block;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon span {
    background-color: #333333;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child,
.header .links .icon span:last-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}

.header .links ul {
    position: absolute;
    list-style: none;
    text-transform: capitalize;
    background-color: var(--section-background);
    margin: 0;
    padding: 0;
    top: calc(100% + 15px);
    right: 0;
    min-width: 200px;
    z-index: 1;
    display: none;
}


.header .links ul::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--section-background);
    right: 0px;
    top: -20px;
}

.header .links:hover ul {
    display: block;
}

.header .links ul li a {
    text-decoration: none;
    transition: var(--main-duration);
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 15px;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

/* End Header  */

/* Start Landing */
.landing {
    background-image: url(../images/landing.jpeg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
    text-align: center;
    text-transform: capitalize;
}

.landing .intro-text h1 {
    color: var(--main-color);
    font-weight: var(--font-weight);
    margin: 0;
    font-size: 50px;

}

.landing .intro-text p {
    font-size: 19px;
    line-height: var(--line-height);
}

/* End Landing */

/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat {
    text-align: center;
    padding: 20px;
}

.features .feat i {
    color: var(--main-color);
    font-size: 50px;
}

.features .feat h3 {
    font-weight: var(--font-weight);
    margin: 30px 0;
}

.features .feat p {
    line-height: var(--line-height);
    color: var(--paragraph-color);
    font-size: 17px;
}

/* End Features */

/* Strat Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: var(--top-spacing);
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 20px;
}

.services .services-content .srv i {
    color: var(--main-color);
    margin-right: 25px;
}

.services .services-content .srv .text h3 {
    font-weight: var(--font-weight);
    margin: 0 0 20px;
}

.services .services-content .srv .text p {
    font-weight: 300;
    color: #444;
    line-height: var(--line-height);
}

.services .services-content .image {
    position: relative;
    text-align: center;
}

.services .services-content .image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    background-color: var(--second-color);
    top: -50px;
    right: 50px;
    z-index: -1;
}

.services .services-content .image img {
    width: 260px;
}

@media (max-width: 1199px) {
    .services .services-content .image {
        display: none;
    }
}

/* End Services */

/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .special-header {
    color: #ebeced;
}

.portfolio .portfolio-content {
    margin-top: var(--top-spacing);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.portfolio .portfolio-content .card {
    background-color: white;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
    font-weight: var(--font-weight);
}

.portfolio .portfolio-content .card .info p {
    margin-bottom: 0;
    line-height: var(--line-height);
    color: var(--paragraph-color);
}

/* End Portfolio */

/* Start About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.about .about-content {
    margin-top: var(--top-spacing);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}


.about .about-content .image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    background-color: #ebeced;
    top: -50px;
    left: -25px;
    z-index: -1;
}

.about .about-content .image::after {
    content: "";
    position: absolute;
    top: -50px;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    right: -150px;
    z-index: -1;
}

@media (max-width: 991px) {

    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    font-size: 20px;
    line-height: var(--line-height);
    margin-bottom: 50px;
}

.about .about-content .text hr {
    border-color: var(--main-color);
    width: 50%;
    display: inline-block;
}

.about .about-content .text p:last-of-type {
    color: var(--paragraph-color);
    line-height: var(--line-height);
}

/* End About */

/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .special-header {
    color: #ebeced;
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .info .label {
    font-weight: var(--font-weight);
    font-size: 35px;
    color: var(--second-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info a {
    display: block;
    text-decoration: none;
    font-size: 35px;
    font-weight: var(--font-weight);
    color: var(--main-color);
}

@media (max-width: 991px) {

    .contact .info .label,
    .contact .info a {
        font-size: 25px;
    }

}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.contact .info .social i {
    color: var(--second-color);
    margin-left: 10px;
    font-size: 20px;
}

/* End Contact */

/* Start Footer  */
.footer {
    background-color: var(--second-color);
    color: white;
    text-align: center;
    padding: 30px 10px;
    font-size: 18px;
}

.footer span {
    color: var(--main-color);
    font-weight: bold;
}



/* End Footer  */